/*----------------------
    RESET
-----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
    GENERAL
-----------------------*/
body {
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
}

#red-cross {
    color: red;
    border-color: red;
}

#green-check {
    color: green;
    border-color: green;
}

.btn {
    background: transparent;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 6px;
    border-color: #C4CBD0;
    font-size: 10px;
}

.btn-blue {
    background-color:#14AAF5;
    color: #ffffff;
    border-color: #14AAF5;
    font-size: 1opx;
}

.tag {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
}

h2 {
    color: #434851;
    font-size: large;
}

.tag-purple {
    background-color: #EC4A9D;
}
.tag-green {
    background-color: #2CC6AB;
}
.tag-limegreen {
    background-color: #A3D116;
}
.tag-lightblue {
    background-color: #14AAF5;
}
.tag-orange {
    background-color: #FF9B00;
}
.tag-violet {
    background-color: #ab5de6;
}

/*----------------------
    PAGE HEADER
-----------------------*/
header {
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
}

/*----------------------
    PAGE MAIN
-----------------------*/
main {
    width: 800px;
    margin: auto;
    border-radius: 100px;
    padding: 20px;
}

.task-buttons {
    margin-bottom: 5px;
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-list {
    background-color: white;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}